.scribble-pad-container {
  margin-top: 10px;
  background-color: #ffffff; /* White background */
  padding: 10px; /* Optional: Add padding around the scribble pad */
  border: 1px solid #000000; /* Add border to the container for better visibility */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.scribble-pad-controls {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  /* justify-content: flex-end; */
}

.scribble-pad-controls button {
  margin-left: 10px;
}
